.form {
    display: flex;
    justify-content: center;
    padding-top: 0.8px;
    padding-top: 20px;
}

.input {
    height: 10px;
    width: 280px;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    opacity: 0.5;
}

.input:focus {
    outline: none;
}